::ng-deep .mat-dialog-container {
  width: 90vw;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
}

mat-form-field {
  width: 100%;
}

@media (max-width: 768px) {
  .mat-dialog-container {
    width: 95vw !important;
    max-width: 95vw !important;
    overflow-y: auto !important;
  }
}

::ng-deep .mdc-notched-outline__notch {
  border-right: none !important;
}

