@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';


html, body { 
    height: 100%; 
    overflow-x: hidden; /* Prevents horizontal scrolling */
    min-height: 100vh; /* Ensures the page fills the viewport */
    background-color: #f3f4f6; /* Keeps background consistent */
}
body { margin: 0; font-family: "Open Sans", "Helvetica Neue", sans-serif; }

/* Fix input alignment */
  mat-form-field {
      width: 100%;
    }
    
  /* Ensure proper background color */
  .mat-mdc-text-field-wrapper {
    background-color: white !important;
    border-radius: 4px;
  }
  
  /* Override Material's error padding */
  .mat-mdc-form-field-error-wrapper {
    padding: 0 !important;
}

  /* Fix text alignment */
  .mat-mdc-form-field-infix {
    min-height: 50px !important;
    display: flex;
    align-items: center;
  }
  
  /* Remove hover background */
  .mdc-text-field--filled:not(.mdc-text-field--disabled):hover {
    background-color: transparent !important;
  }
  