::ng-deep .mat-dialog-container {
  width: 90vw;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
}

mat-form-field {
  width: 100%;
}

@media (max-width: 768px) {
  .mat-dialog-container {
    width: 95vw !important;
    max-width: 95vw !important;
    overflow-y: auto !important;
  }
}

::ng-deep .mdc-notched-outline__notch {
  border-right: none !important;
}

.ag-theme-quartz {
  --ag-header-background-color: #2A9D8F;        /* Teal Header */
  --ag-odd-row-background-color: #f9f9f9;       /* Light rows */
  --ag-row-hover-color: #E9C46A;                /* Yellow hover */
  --ag-font-size: 14px;
  --ag-font-family: 'Segoe UI', sans-serif;
}

.ag-theme-quartz .ag-header-cell-label {
  font-weight: 600;
  color: white;
}
